/* RESET GÉNÉRAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* STYLES GÉNÉRAUX TERMINAL */
.terminal, .fterminal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #000;
  color: #00ff91;
  box-sizing: border-box;
  text-align: left;
}


.fterminal p {
  opacity: 0;
}

/* TEXTES ANIMÉS TERMINAL PRINCIPAL */
.terminal-text p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #00ff91;
  opacity: 0;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}

.terminal-text p:nth-child(2) {
  animation-delay: 2.2s;
}
.terminal-text p:nth-child(3) {
  animation-delay: 4.4s;
}

/* TEXTES ANIMÉS TERMINAL FOOTER */
.footer-terminal.start-animation .fterminal-text p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #00ff91;
  opacity: 0;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
}

.footer-terminal.start-animation .fterminal-text p:nth-child(2) {
  animation-delay: 2.2s;
}
.footer-terminal.start-animation .fterminal-text p:nth-child(3) {
  animation-delay: 4.4s;
}
.footer-terminal.start-animation .fterminal-text div {
  animation-delay: 6.6s;
}

/* ANIMATIONS GÉNÉRALES */
@keyframes typing {
  from { width: 0; opacity: 1; }
  to { width: 100%; opacity: 1; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ff91; }
}

/* COMMANDES CLIQUABLES */
.highlight {
  color: #ffffff;
}

.terminal-command {
  cursor: pointer;
  border-bottom: 1px dashed #00ff91;
  transition: color 0.3s ease;
}

.terminal-command:hover {
  color: #00ff91;
}

/* SECTION ABOUT */
.about {
  background-color: #f1f1f1;
  padding: 80px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.about h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3rem;
  margin-bottom: 4rem;
  color: #333;
  letter-spacing: 1px;
  text-align: left;
  padding: 0 4px;
}

.about p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-left: 4px solid #00ff91;
  width: 100%;
  text-align: left;
  font-weight: 550;
}


/* SECTION SERVICES */
.services {
  padding: 80px 10%;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.services h2 {
  font-size: 3rem;
  font-family: 'IBM Plex Mono', monospace;
  color: #333;
  margin-bottom: 4rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 1.6rem;
  color: #000000;
  padding-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
  font-family: 'IBM Plex Mono', monospace;
}

.card .btn {
  background-color: #00ff91;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card .btn:hover {
  background-color: #00cc7f;
}

/* BARRE DE CHARGEMENT TERMINAL FOOTER */
.footer-terminal.start-animation .floading-bar-container {
  width: 100%;
  height: 15px;
  background-color: #cc3c3c;
  overflow: hidden;
  margin-top: 2rem;
  box-sizing: border-box;
}

.footer-terminal.start-animation .floading-bar {
  width: 0;
  height: 100%;
  background-color: #00ff91;
  animation: loading 5s forwards;
}

@keyframes loading {
  0% { width: 0; }
  25% { width: 25%; }
  50% { width: 50%; }
  75% { width: 75%; }
  100% { width: 100%; }
}

@media (max-width: 768px) {

  .terminal, .fterminal {
    flex-direction: column;
    width: 100%;
  }

  .terminal-text p {
    font-size: 1rem;
  }
  .footer-terminal.start-animation .fterminal-text p{
    font-size: 1rem;
  }

  .footer-terminal.start-animation .floading-bar-container {
    width: 100%;
    height: 10px;
  }

  /* Section About */
  .about {
    padding: 60px 5%;
  }

  .about h2 {
    font-size: 1.8rem;
    padding-left: 5%;
  }

  .about p {
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
  }

  /* Section Services */
  .services {
    padding: 60px 5%;
  }

  .services h2 {
    font-size: 1.8rem;
    padding-left: 5%;
  }

  .card-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .card {
    padding: 1.5rem;
  }

  .card h3 {
    font-size: 1.4rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}


