* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #000;
  color: #00ff91;
}

.terminal-text p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #00ff91;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

.terminal-text p:nth-child(2) {
  animation-delay: 2.2s;
}
.terminal-text p:nth-child(3) {
  animation-delay: 4.4s;
}
.terminal-text div{
  animation-delay: 6.6s;
}


.terminal-text p {
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0; opacity: 1; }
  to { width: 100%; opacity: 1; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ff91; }
}

.highlight {
  color: #ffffff;
}

.terminal-command {
  cursor: pointer;
  border-bottom: 1px dashed #00ff91;
  transition: color 0.3s ease;
}

.terminal-command:hover {
  color: #00ff91;
}

.about{
  width: 100%;
  height: 100vh;
}
.services{
  width: 100%;
  height: 100vh;
  background-color: bisque;
}


.loading-bar-container {
  width: 100%; /* Ajuste la largeur selon ton design */
  max-width: 600px; /* Limite la largeur maximum de la barre */
  height: 15px;
  background-color: #333;
  overflow: hidden;
  margin-top: 20px; /* Un peu d'espace au-dessus de la barre de chargement */
}

.loading-bar {
  width: 0;
  height: 100%;
  background-color: #00ff91;
  animation: loading 5s forwards;
  
}

@keyframes loading {
  0% {
      width: 0;
  }
  25% {
      width: 25%;
  }
  50% {
      width: 50%;
  }
  75% {
      width: 75%;
  }
  100% {
      width: 100%;
  }
}
